.createMenuitem {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px;
    /* width: 160px; */
    height: 36px;
    background: #1E1B39;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}


.createMenuitem:before {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    left: calc(50% - 5px);

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1E1B39;
}